{% extends 'base.html' %}

{% block body %}

<!--main navbar-->
<nav id="topNavbar" class="navbar navbar-expand-lg navbar-dark shadow-sm">

	<span class="navbar-brand mb-0 h1">
        <img src="{{ url_for('static', filename='images/icon.jpg') }}" class="brand-img d-inline-block align-top" alt="">
        C-PMS
    </span>
	<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav">

            <li class="nav-item px-2">
                <a href="{{ url_for('doctor.index') }}" class="nav-link">
	                <i class="fas fa-fw fa-tachometer-alt"></i><span class="icon-label"> Dashboard</span>
                </a>
            </li>

            <li class="nav-item px-2">
                <a href="{{ url_for('doctor.appointments') }}" class="nav-link">
	                <i class="fa fa-calendar"></i><span class="icon-label"> Appointments</span>
                </a>
            </li>

            <li class="nav-item px-2">
                <a href="{{ url_for('doctor.search_patient') }}" class="nav-link">
	                <i class="fa fa-wheelchair"></i><span class="icon-label"> Search Patient</span>
                </a>
            </li>

        </ul>

		<ul class="navbar-nav ml-auto">

	        <li class="nav-item dropdown mr-3 px-2">
	            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
	            <i class="fas fa-user"></i> Welcome
	            </a>
	            <div class="dropdown-menu">
		            <a href="{{ url_for('doctor.account') }}" class="dropdown-item">
		                <i class="fas fa-user-circle"></i> Profile
		            </a>
		            <a href="{{ url_for('doctor.change_password') }}" class="dropdown-item">
		                <i class="fas fa-cog"></i> Settings
		            </a>
	            </div>
	        </li>

	        <li class="nav-item px-2">
	            <a href="{{ url_for('doctor.logout') }}" class="nav-link">
	            <i class="fas fa-user-times"></i> Logout
	            </a>
	        </li>
		</ul>
	</div>

</nav>

<div class="container mt-3">
	{% block content %}

	{% endblock %}
</div>

{% endblock %}