{% extends 'doctor/base_doctor.html' %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block title %}Appointments{% endblock %}

{% block content %}

	<!--breadcrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb shadow-sm">
            <li class="breadcrumb-item"><a href="{{ url_for('doctor.index') }}">Dashboard</a></li>
	        <li class="breadcrumb-item"><a href="{{ url_for('doctor.search_patient') }}">Search Patient</a></li>
            <li class="breadcrumb-item active" aria-current="page">Patient</li>
        </ol>
    </nav>

	<section id="basicDetails">
        <div class="card border-0 shadow-sm">

	        <div class="card-body">
		        <div class="row">

			        <div class="col-md-5 border-right">
				        <div class="row">

					        <div class="col-4">
						        <div class="d-flex justify-content-center">
						            <h1 class="display-1"><i class="fas fa-user-circle"></i></h1>
					            </div>
					        </div>

					        <div class="col">
						        <div class="m-1">
									<h3>{{ patient.name }}</h3>
							        <span><strong>Patient ID :</strong> {{ patient.user_id }}</span>
						        </div>
					        </div>

				        </div>

			        </div>

			        <div class="col-md-7">
						<dl class="row">

							<dt class="col-sm-4">Phone:</dt>
							<dd class="col-sm-8">{{ patient.contact }}</dd>

							<dt class="col-sm-4">Email:</dt>
							<dd class="col-sm-8">{{ patient.user.email }}</dd>

							<dt class="col-sm-4">Date of Birth:</dt>
							<dd class="col-sm-8">{{ patient.dob.strftime('%d-%m-%Y') }}</dd>

							<dt class="col-sm-4">Address:</dt>
							<dd class="col-sm-8">{{ patient.address }}, {{ patient.city }}</dd>

							<dt class="col-sm-4">Gender:</dt>
							<dd class="col-sm-8">{{ patient.gender | capitalize}}</dd>

						</dl>
			        </div>

		        </div>

	        </div>

        </div>
	</section>

	<section id="prevAppointments">
		<div class="card border-0 shadow-sm mt-3">

            <div class="card-header bg-white">
                <i class="fas fa-table"></i><span> Appointments</span>
	        </div>

	        <div class="card-body">
		        <div class="table-responsive">

					<table id="dataTable" class="table table-striped">
					    <thead class="thead-dark">
					        <tr>
						        <th>#</th>
						        <th>Date of visit</th>
						        <th>Time of visit</th>
						        <th>Doctor</th>
						        <th>Status</th>
						        <th>Action</th>
					        </tr>
					    </thead>
					    <tbody>
					        {% for appointment in appointments %}
					            <tr>
						            <th scope="row">{{ loop.index }}</th>
						            <td>{{ appointment.date_of_visit.strftime('%a, %d %B') }}</td>
					                <td>{{ appointment.start_time.strftime('%I:%M %p') }}</td>
						            <td>Dr. {{ appointment.doctor.name }}</td>
					                <td>
						                <i class="fas fa-check"></i> Checked
					                </td>
						            <td>
							            <a class="btn btn-primary" href="{{ url_for('doctor.show_patient_records', appointment_id=appointment.id) }}">
								            Details
							             </a>
						            </td>

					            </tr>
					        {% endfor %}
					    </tbody>
					</table>

                </div>
	        </div>

		</div>
	</section>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

	<script>
		$(document).ready(function() {
		    $('#dataTable').DataTable();
		} );
	</script>
{% endblock %}