{% extends 'admin/base_admin.html' %}

{% block title %}Patient Details{% endblock %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_error, render_message %}

	<!--breadcrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
	        <li class="breadcrumb-item"><a href="{{ url_for('admin.list_patient') }}">Patients</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>

	<!-- ACTIONS -->
	<section id="actions">
	    <div class="container py-2 mb-3 bg-light">
	        <div class="row">

	            <div class="col-md-3">
		            <a href="{{ url_for('admin.list_patient') }}" class="btn btn-light btn-block">
		                <i class="fas fa-arrow-left"></i> Back
		            </a>
	            </div>

	            <div class="col-md-3">
		            <!--submit button for the form-->
		            <button type="submit" form="updateForm" class="btn btn-success btn-block">
			            <i class="fas fa-check"></i> Save Changes
		            </button>
	            </div>

	            <div class="col-md-3">
	                <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteModal">
	                    <i class="fas fa-trash"></i> Delete Record
	                </a>
	            </div>

	        </div>
	    </div>
	</section>

	<!-- EDIT DETAILS -->
	<section id="details">

        <div class="card">

            <div class="card-header">
		        <i class="fa fa-pencil-square-o" aria-hidden="true"></i><span> Edit Details</span>
	        </div>

            <div class="card-body">

                {{ render_message() }}
                <form id="updateForm" method="POST">

                    {{ form.hidden_tag() }}

					<div class="form-group">
                        <!--id field-->
				        {{ form.id.label }}
						{{ form.id(class="form-control", readonly='readonly') }}
					</div>

                    <div class="form-row">
					    <div class="form-group col-md-6">
					        <!--name field-->
							{{ form.name.label }}
							{{ form.name(class="form-control", placeholder="Patients Name") }}
							{{ render_error(form.name) }}
					    </div>
					    <div class="form-group col-md-6">
					        <!--email field-->
							{{ form.email.label }}
							{{ form.email(class="form-control", placeholder="Example123@abc.com") }}
							{{ render_error(form.email) }}
					    </div>
                    </div>

                    <div class="form-group">
					    <!--address field-->
						{{ form.address.label }}
						{{ form.address(class="form-control", placeholder="1234 Main St") }}
						{{ render_error(form.address) }}
                    </div>

					<div class="form-row">
					    <div class="form-group col-md-6">
					        <!--city field-->
							{{ form.city.label }}
							{{ form.city(class="form-control", placeholder="City") }}
							{{ render_error(form.city) }}
					    </div>
					    <div class="form-group col-md-4">
					        <!--gender field-->
							{{ form.gender.label }}
							{{ form.gender(class="form-control") }}
							{{ render_error(form.gender) }}
					    </div>
					    <div class="form-group col-md-2">
					        <!--dob field-->
							{{ form.dob.label }}
							{{ form.dob(class="form-control", placeholder="dd/mm/yyyy") }}
							{{ render_error(form.dob) }}
					    </div>
					</div>

                    <div class="form-group">
				        <!--contact field-->
						{{ form.contact.label }}
						{{ form.contact(class="form-control", placeholder="Contact Number") }}
						{{ render_error(form.contact) }}
                    </div>

                </form>
            </div>

        </div>

	</section>

	<!-- DELETE MODAL -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
		        <div class="modal-header bg-danger">
					<h5 class="modal-title" id="deleteModalCenterTitle">Confirm Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
					</button>
		        </div>
				<div class="modal-body">
					Are you sure you want to delete the record from the database?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<form action="{{ url_for('admin.delete_patient', user_id=patient.user.id) }}" method="POST">
						<input class="btn btn-danger" type="submit" value="Delete">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

	<script>
		$(document).ready(function() {
		    $('#dataTable').DataTable();
		} );
	</script>
{% endblock %}