{% extends 'admin/base_admin.html' %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block title %}Users{% endblock %}

{% block content %}

	<!--breadcrum-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>

	<section id="listPatients">
        <div class="card">

            <div class="card-header">
            <i class="fas fa-table"></i><span> Users</span>
	        </div>

            <div class="card-body">
	            <div class="table-responsive">

					<table id="dataTable" class="table table-striped">
					    <thead class="thead-dark">
					        <tr>
					            <th>Id</th>
					            <th>Email</th>
					            <th>Created</th>
					            <th>Role</th>
					            <th></th>
					        </tr>
					    </thead>
					    <tbody>
					        {% for user in users %}
					            <tr>
						            <th scope="row">{{ user.id }}</th>
						            <td>{{ user.email }}</td>
						            <td>
							            <span class="mr-2">{{ user.created.strftime('%d-%m-%Y') }}</span>
							            at
							            <span class="ml-2">{{ user.created.strftime('%I:%M %p') }}</span>
						            </td>
						            <td>
							            {% for entry in user.role %}
							                {{ entry.role | capitalize}}{% if not loop.last %},{% endif %}
							            {% endfor %}
						            </td>
						            <td>
							            <a href="{{ url_for('admin.add_role', user_id=user.id) }}" class="btn btn-primary">
								            <i class="fas fa-angle-double-right"></i> Add Role
							            </a>
						            </td>
					            </tr>
					        {% endfor %}
					    </tbody>
					</table>

	            </div>
            </div>

        </div>
	</section>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

	<script>
		$(document).ready(function() {
	    $('#dataTable').DataTable();
	} );
	</script>
{% endblock %}

